<footer class="footer container inline-padding">
  <hr class="footer__line">
  <div class="footer__container">
    <section class="footer-section">
      <ul class="footer-section__list">
        <li class="footer-section__item">
          <a href="/service">Services</a>
        </li>
        <li class="footer-section__item">
          <a href="/portfolio">Portfolio</a>
        </li>
        <li class="footer-section__item">
          <a href="/about">About Me</a>
        </li>
      </ul>
    </section>
    <section class="footer-section socials__section">
      <ul class="footer-section__list socials__list">
        <li class="footer-section__item">
          <a href="#" class="socials__link instagram">
            <img src="/assets/svg/instagram.svg" alt="Connect with me on Instagram">
          </a>
        </li>
        <li class="footer-section__item">
          <a href="#" class="socials__link messenger">
            <img src="/assets/svg/messenger.svg" alt="Connect with me on Messenger">
          </a>
        </li>
        <li class="footer-section__item">
          <a href="#" class="socials__link whatsapp">
            <img src="/assets/svg/whatsapp.svg" alt="Connect with me on Whatsapp">
          </a>
        </li>
      </ul>
    </section>
  </div>
</footer>