<header>
  <nav class="navbar hidden navbar--desktop">
    <div class="container inline-padding container--navbar">
      <section class="navbar__logo">
        <a href="/index.html">
          <img src="/assets/svg/logoipsum.svg" alt="logo">
        </a>
      </section>
      <ul class="navbar__list">
        <li class="navbar__item">
          <a href="/services_page.html">Services</a>
        </li>
        <li class="navbar__item">
          <a href="/portfolio_page.html">Portfolio</a>
        </li>
        <li class="navbar__item">
          <a href="/about_page.html">About Me</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar--mobile">
    <div class="container inline-padding container--navbar">
      <section class="navbar__logo">
        <a href="/index.html">
          <img src="/assets/svg/logoipsum.svg" alt="logo">
        </a>
      </section>
      <span class="navbar__button cursor">
        <img src="/assets/svg/menu.svg" alt="logo">
      </span>
    </div>
    <ul class="container inline-padding menu">
      <div class="menu__container">
        <li class="menu__item">
          <a href="/services_page.html">Services</a>
        </li>
        <li class="menu__item">
          <a href="/portfolio__page.html">Portfolio</a>
        </li>
        <li class="menu__item">
          <a href="/about_page.html">About Me</a>
        </li>
      </div>
    </ul>
  </nav>
</header>