<section class="instagram container">
  <div class="inline-padding instagram__text-container">
    <h2 class="instagram__title">Follow me on Instagram</h2>
    <button class="btn btn--icon cta instagram__btn instagram__btn--desktop">
      <span>@jessie</span>
      <img src="../assets/svg/arrow.svg" alt="arrow">
    </button>
  </div>
  <div class="instagram__images">
    <img class="instagram__image" src="../assets/images/header__img.jpg" alt="">
    <img class="instagram__image" src="../assets/images/header__img.jpg" alt="">
    <img class="instagram__image" src="../assets/images/header__img.jpg" alt="">
    <img class="instagram__image" src="../assets/images/header__img.jpg" alt="">
  </div>
  <button class="btn btn--icon cta instagram__btn instagram__btn--mobile mg-inline-auto">
    <span>@jessie</span>
    <img src="../assets/svg/arrow.svg" alt="arrow">
  </button>

</section>