@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:wght@300;400&display=swap');

/* approach css by creating
  1. custom properties
  2. utility classes 
  3. don't stress too much on the layout
  4. we won't have everything done, but we would be so much faster
*/

/* ----------------- */
/* Custom properties */
/* ----------------- */
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-beige: 37 31% 95%;
  --clr-white: 37 31% 95%;
  --clr-navigation: 33 33% 95%;
    

  /* font-sizes
    - starting at 400 as base value, the font-size starts from smallest, 200 to largest, 900;
  */
  --fs-900: 10rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 3rem; /* 32px */
  --fs-500: 2.2rem; /* 28px */
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: 'Italiana', serif;
  --ff-normal: 'Montserrat', sans-serif;

  /* other */
  --logo-height: 100px;
} 

/* 
  1. create a general reset
  2. start with some more generic utility classes
  3. dive into creating the design system itself, section by section

*/

/* ----------------- */
/* Reset             */
/* ----------------- */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  font-family: var(--ff-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-beige));
  color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul[role='list'] > a,
ol[role='list'] > a {
  text-decoration: none;
}

/* remove animations for people who've turned them off - accessibility */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1 {
  line-height: 1.2;
}
/* Utility classes 
  - class that do one thing, and do it really well
  - often only have one declaration, but they can have multiple when required
  - allow things to be more modular, allow us to write code in the long run
*/

/* ----------------- */
/* Utility classes   */
/* ----------------- */

.reset {
  all: unset;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.full-width {
  width: 100%;
}

.ar-1 {
  aspect-ratio: 1;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-start {
  justify-content: start
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex-sb {
  justify-content: space-between;
}

.flex-center {
  align-items: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.center-items {
  place-items: center;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.margin-top {
  margin-top: var(--top-space, 1em);
}

.margin-bottom {
  margin-bottom: var(--bottom-space, 1em);
}

.margin {
  margin-block: var(--margin-space, 1em);
}


.padding-vertical {
  padding-inline: 0rem;
}

.padding-xx-large {
  padding: 5rem;
}

.pointer {
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-rows: 0fr;
  transition: 1s;
  overflow: hidden;
}

.content .inside {
  min-height: 0;
}

.content.expanded {
  grid-template-rows: 1fr;
}

.container {
  /* got width, max-width, padding, margin */
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 80rem;
}

.tab-list {
  --gap: 2rem;
}

.tab-list > * {
  color:hsl( var(--clr-dark));
  cursor: pointer;
}

.tab-list > *:hover {
  border-bottom: 2px solid black;
}

/* screen-reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* color */
.bg-beige { background-color: hsl(var(--clr-beige)); }
.bg-nav { background-color: hsl(var(--clr-navigation) / .96); }

.text-dark { color: hsl(var(--clr-dark)); }
.text-white { color: hsl(var(--clr-white)); }

/* typography */
.ff-serif { font-family: var(--ff-serif); }
.ff-normal { font-family: var(--ff-normal); }

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.3;
}

/* ----------------- */
/* Components        */
/* ----------------- */
.button {
  border: none;
  outline: 0.1rem solid hsl(var(--clr-dark));
  background-color: transparent;
  border-radius: var(--border-radius, 1.5rem);
  text-align: center;
  /* transition */
  font-weight: 400;
  padding: 0.75rem 1.25rem;
  width: 100%;
}

/* .button:hover {
  background-color: hsl(var(--clr-dark) / .7);
  border-color: hsl(var(--clr-dark) / .7);
  color: hsl(var(--clr-white));
} */

.button:focus {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
}

.submit-button {
  padding-inline: 4rem;
}

.w-input {
  display: block;
  width: 100%;
  border: 1px solid #cccccc;
  line-height: 1.4;
}

.input-box {
  margin-bottom: 0px;
  padding: 0.5rem 0.75rem 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent rgba(43, 38, 38, 0.5);
  background-color: transparent;
  color: rgba(43, 38, 38, 0.65);
  font-size: 1rem;
  font-weight: 400;
}

.line {
  width: 100%;
  height: var(--height, 2px);
  background-color: hsl(var(--clr-dark));
}

/* start here */

.main-navigation {
  border-bottom: 2px solid hsl(var(--clr-dark));
  position: fixed;
  width: 100%;
  z-index: 900;
}

main {
  padding-top: var(--logo-height);
}

.main-navigation .logo {
  width: var(--logo-height);
}

.section-home-header {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.section-home-header h1 {
  font-weight: 400;
  font-size: clamp(4rem, 10vw, var(--fs-800));
}



@media (max-width: 700px) {
  .main-navbar {
    display: none;
  }

  .secondary-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .burger-icon {
    width: 40px;
    aspect-ratio: 1;
  }
}

.home-header_left-container {
  padding-block: 2em;
}

.home-header_left-container h1 {
  margin-bottom: 2rem;
}

.home-header_right-container {
  order: 2;
}


.home-header_left-content-bottom {
  max-width: 70%;
}


.home-header_right {
  width: 100%;
  height: 100%;
  background: url("./images/image/header-image.webp");
  min-height: 80svh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
}

@media(max-width:1030px) {
  .section-home-header {
    display: block;
  }

  .home-header_left-container {
    padding-block: 0em;
    margin-top: 2rem;
  }

  .home-header_right {
    width: 100%;
    aspect-ratio: 1 / 1.1;
  }
  
}

@media(max-width: 500px) {
  .home-header_left-content-bottom {
    max-width: 100%;
  }

}

.home-intro-img {
  width: 100%;
  height: 100%;
  background: url("./images/image/header-image.webp");
  min-height: 70svh;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-home-intro h2 {
  font-size: clamp(2rem, 6vw, var(--fs-600));
}

.home-intro-intro_bottom_message {
  width: 40%;
  margin-left: auto;
}

@media(max-width:1000px) {
  .home-intro-intro_bottom_message {
    width: 70%;
  }

  .home-intro-intro_bottom_message p {
    font-size: var(--fs-300);
  }
}

@media(max-width: 500px) {
  .home-intro-intro_bottom_message {
    width: 100%;
  }

  .home-intro-intro_bottom_message > p {
    font-size: var(--fs-400);
  }
}

.section-home-services > .grid {
  grid-template-columns: repeat(3, 1fr);
}

@media(max-width:800px) {
  .section-home-services > .grid {
    grid-template-columns: 1fr;
  }

  .section-home-services > .grid > .grid-item {
    aspect-ratio: 1 / .9;
  }

  .show-button {
    display: block;
  }

  .hide-button {
    display: none;
  }
}

@media(max-width: 500px) {
  .section-home-services h2 {
    font-size: var(--fs-500);
  }
}


.special-img {
  border-radius: 50%;
  position: relative;
  
}

.img-container:hover>img {
  border-radius: 50%;
}

.img-container {
  height:100%;
}

.img-container > img {
  height:100%;
}

.section-home-portfolio > .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "a b"
  "c b";
}

.section-home-portfolio .grid-item {
  width: 100%;
  aspect-ratio: 1 / 1.1;
}

.section-home-portfolio .grid-item:first-child {
  grid-area: a;
}

.section-home-portfolio .grid-item:nth-child(2) {
  grid-area: b;
  height: 100%;
}

.section-home-portfolio .grid-item:last-child {
  grid-area: c;
}

@media(max-width: 500px) {
  .section-home-portfolio h2{
    font-size: var(--fs-500);
    text-align: center;
  }
}

@media(max-width:450px) {
  .section-home-portfolio > .grid {
    display: block;
  }

  .section-home-portfolio > .grid > * + * {
    margin-top: 2rem;
  }


  .section-home-portfolio .hide {
    display: none;
  }
}

.section-home-testimonial > * {
  flex: 1;
}

.home-testimonial_right-bottom-content .comment {
  width: 70%;
}

@media(max-width:1000px) {
  .section-home-testimonial {
    flex-direction: column;
  }

  .home-testimonial_left-image {
    width: 45%;
    aspect-ratio: 1;
  }

  .home-testimonial_right-title {
    margin-bottom: 2.5rem;
  }

  .home-testimonial_right-bottom-content {
    gap: 6rem;
    flex-direction: row-reverse;
  }
}

@media(max-width:475px) {
  .home-testimonial_right-bottom-content {
    flex-direction: column;
    gap: 1rem;
  }

  .home-testimonial_right-title {
    margin-bottom: 1rem;
  }

  .home-testimonial_right-bottom-content .comment {
    width: 100%;
  }

  .section-home-testimonial .arrows{
    margin-top: 5rem;
  }
}

.arrows > * {
  width: 1.5rem;
  aspect-ratio: 1;
}

.arrows {
  width: fit-content;
  position: relative; 
}

.faq_question-wrapper {
  position: relative;
}

.faq_icon > img {
  width: 1.5rem;
  aspect-ratio: 1;
}

.faq_question-number {
  margin-right: -4rem;
}


@media(max-width:1000px) {
  .section-home-faq  {
    flex-direction: column;
    gap: 4rem;
  }

  .home-faq_left p {
    font-size: var(--fs-300);
  }

}

@media(max-width: 500px) {
  .section-home-faq h2 {
    font-size: var(--fs-500);
  }
}

@media(max-width:650px) {
  .unflex {
    display: block;
  }

  .unflex > .faq_question-number {
    margin-bottom: var(--space-bottom, .75rem);
  }
}


.section-home-instagram .grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.section-home-instagram .img-container:hover>img {
  border-radius: 0;
}

@media(max-width: 500px) {
  .section-home-instagram .hide {
    display: none;
  }

  .section-home-instagram .unhidden {
    display: block;
  }
}


.social-medias > * {
  width: 2rem;
  aspect-ratio: 1;
}

#whatsapp:hover {
  filter: invert(92%) sepia(30%) saturate(6417%) hue-rotate(64deg) brightness(87%) contrast(89%);
}

#messenger:hover {
  filter: invert(76%) sepia(53%) saturate(6875%) hue-rotate(165deg) brightness(98%) contrast(108%);
}

#instagram:hover {
  filter: invert(31%) sepia(44%) saturate(2295%) hue-rotate(254deg) brightness(85%) contrast(97%);
}

footer .img-container img {
  width: 40%;
  transform: scale(2);
  margin-inline: auto;
  opacity: .1;
  position: relative;
  top: 40px;
  filter: invert(94%) sepia(3%) saturate(892%) hue-rotate(325deg) brightness(75%) contrast(91%);
}

footer .img-container {
  width: 100%;
  position: relative;
  z-index:-1;
}

footer .img-container .text {
  display: inline-block;
}

@media (max-width: 900px) {
  .container {
    padding-inline: 1.25rem;
  }
}





