---
title: About
classname: about-page
layout: 'mainlayout.njk'
---

<section class="hero-header hero-header--about">
  <div class="hero-header__title-container container inline-padding">
    <h1 class="hero-header__title animatedObj">About Me</h1>
  </div>
</section>

<section class="container inline-padding about__heading">
  <h2 class="about__title">Work with the world class specialist</h2>
  <div>
    <div class="about__text">
      <p>3 Sentence Intro about Sister</p>
      <p>- when is your journey started</p>
      <p>- why and how do you choose makeup as a profession</p>
      <p>- what have you achieved? whatkind of style you learnt? what you have learnt from other</p>
    </div>
    <div class="about__labelname about__labelname--first">
      <p class="about__number">100+</p>
      <span class="about__label uppercase">Happy Clients</span>
    </div>
    <div class="about__labelname">
      <p class="about__number">5+</p>
      <span class="about__label uppercase">Years of experience</span>
    </div>
  </div>
</section>


<section class="reasons">
  <div class="container container--reasons">
    <div class="reasons__side">
      <div class="reasons__img-container">
        <img src="../assets/images/header__img.webp" alt="">
      </div>
    </div>
    <div class="reasons__main inline-padding">
      <h2 class="reasons__title">Work with the world class specialist</h2>
      <div>
        <p class="reasons__number">01/</p>
        <h4 class="reasons__reason text--large">
          Reason 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </h4>
      </div>
      <div>
        <p class="reasons__number">01/</p>
        <h4 class="reasons__reason text--large">
          Reason 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </h4>
      </div>
      <div>
        <p class="reasons__number">01/</p>
        <h4 class="reasons__reason text--large">
          Reason 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </h4>
      </div>
      <div>
        <p class="reasons__number">01/</p>
        <h4 class="reasons__reason text--large">
          Reason 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </h4>
      </div>
      <div>
        <p class="reasons__number">01/</p>
        <h4 class="reasons__reason text--large">
          Reason 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </h4>
      </div>
      <div>
        <p class="reasons__number">01/</p>
        <h4 class="reasons__reason text--large">
          Reason 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </h4>
      </div>
      <div>
        <p class="reasons__number">01/</p>
        <h4 class="reasons__reason text--large">
          Reason 1: Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </h4>
      </div>
    </div>
  </div>
</section>

<section class="portfolio--secondary container inline-padding">
  <div class="portfolio__text-container">
    <h2 class="portfolio__title text-center">My clients</h2>
    <button class="btn btn--icon cta portfolio__btn portfolio__btn--desktop">
      <span>See portfolio</span>
      <img src="../assets/svg/arrow.svg" alt="arrow">
    </button>
  </div>
  <div class="portfolio__images">
    <img class="portfolio__image" src="../assets/images/header__img.webp" alt="">
    <img class="portfolio__image" src="../assets/images/header__img.webp" alt="">
    <img class="portfolio__image" src="../assets/images/header__img.webp" alt="">
    <img class="portfolio__image portfolio__image--desktop" src="../assets/images/header__img.webp" alt="">
    <img class="portfolio__image portfolio__image--desktop" src="../assets/images/header__img.webp" alt="">
  </div>
  <button class="btn btn--icon cta portfolio__btn portfolio__btn--mobile">
    <span>See portfolio</span>
    <img src="../assets/svg/arrow.svg" alt="arrow">
  </button>
</section>