---
title: Homepage
layout: 'base.njk'
---


<section class="hero container">
  <img class="hero__image" src="../assets/images/header__img.jpg" alt="<header description>">
  <div class="container container--hero">
    <div class="hero__heading">
      <h1>Bring your</h1>
      <h1>dream-look</h1>
      <h1>to life.</h1>
    </div>
    <div class="hero__subheading">
      <p class="uppercase">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, quia officia veritatis
      </p>
      <button class="btn btn--icon cta">
        <span>Button</span>
        <img src="../assets/svg/arrow.svg" alt="arrow">
      </button>
    </div>
  </div>
</section>

<section class="hero-two">
  <div class="container inline-padding container--hero-two">
    <h2 class="hero-two__description">Soft, sexy, classy, romantic or bold look? It doesn't matter which style
      you're looking for.
      We make it modern, we make it yours. </h2>
    <img class="hero-two__image" src="../assets/images/header__img.jpg" alt="<header description>">
  </div>
</section>

<section class="services">
  <div class="container inline-padding">
    <div class="flex">
      <h2>I do makeup for</h2>
      <button class="btn btn--icon services__btn--desktop">
        <span>Button</span>
        <img src="../assets/svg/arrow.svg" alt="arrow">
      </button>
    </div>
    <section class="services__cards">
      <div class="services__card">
        <img class="services__card-image" src="../assets/images/header__img.jpg" alt="<header description>">
        <hr>
        <div class="services__card-description">
          <span class="services__card-number">01/</span>
          <span class="services__card-title">wedding look</span>
        </div>
      </div>
      <div class="services__card">
        <img class="services__card-image" src="../assets/images/header__img.jpg" alt="<header description>">
        <hr>
        <div class="services__card-description">
          <span class="services__card-number">01/</span>
          <span class="services__card-title">wedding look</span>
        </div>
      </div>
      <div class="services__card">
        <img class="services__card-image" src="../assets/images/header__img.jpg" alt="<header description>">
        <hr>
        <div class="services__card-description">
          <span class="services__card-number">01/</span>
          <span class="services__card-title">wedding look</span>
        </div>
      </div>
    </section>
    <button class="btn btn--icon cta services__btn--mobile">
      <span>Button</span>
      <img src="../assets/svg/arrow.svg" alt="arrow">
    </button>
  </div>
</section>

<section class="about">
  <div class="container inline-padding container--about">
    <div class="about__content">
      <h2 class="about__title text-center">Work with a <br> <span class="highlight">specialist.</span></h2>
      <button class="btn btn--icon cta about__btn">
        <span>Get to know me</span>
        <img src="../assets/svg/arrow.svg" alt="arrow">
      </button>
    </div>
    <img class="about__image" src="../assets/images/header__img.jpg" alt="Home Page-About-Jessie">
  </div>
</section>

<section class="portfolio">
  <div class="container inline-padding container--portfolio">
    <h2 class="portfolio__title text-center heading-3">My clients</h2>
    <div class="portfolio__content">
      <button class="btn btn--icon cta portfolio__btn">
        <span>See portfolio</span>
        <img src="../assets/svg/arrow.svg" alt="arrow">
      </button>
    </div>
    <div class="portfolio__grid">
      <div class="portfolio__grid-area area-a">
        <img class="portfolio__image" src="../assets/images/header__img.jpg" alt="">
      </div>
      <div class="portfolio__grid-area area-b">
        <img class="portfolio__image portfolio__image--special" src="../assets/images/header__img.jpg" alt="">
      </div>
      <div class="portfolio__grid-area area-c">
        <img class="portfolio__image portfolio__image" src="../assets/images/header__img.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="home-faq">
  <div class="container inline-padding container--faq">
    <div class="faq__content">
      <h2 class="faq__title heading-3">FAQ</h2>
      <p class="faq__subtitle">
        Here are the most commonly
        questions I get from my clients.
      </p>
    </div>
    <ul class="faq">
      <li class="faq__item" aria-expanded="false">
        <div class="faq__question">
          <div class="faq__container">
            <div class="faq__wrapper">
              <div class="faq__title">Question 1: Lorem ipsum dolor sit amet
              </div>
            </div>
            <div class="faq__icon">
              <img src="../assets/svg/add.svg" alt="expand">
            </div>
          </div>
          <div class="faq__answer">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim laboriosam optio, iste quas molestias
              temporibus unde ex exercitationem aliquid voluptates? Lorem ipsum, dolor sit amet consectetur
              adipisicing elit. Enim laboriosam optio, iste quas molestias temporibus unde ex exercitationem aliquid
            </p>
          </div>
        </div>
      </li>
      <li class="faq__item" aria-expanded="false">
        <div class="faq__question">
          <div class="faq__container">
            <div class="faq__wrapper">
              <!-- <div class="faq__number">01</div> -->
              <div class="faq__title">Question 1: Lorem ipsum dolor sit amet
              </div>
            </div>
            <div class="faq__icon">
              <img src="../assets/svg/add.svg" alt="expand">
            </div>
          </div>
          <div class="faq__answer">
            <p>Hello world</p>
          </div>
        </div>
      </li>
      <li class="faq__item" aria-expanded="false">
        <div class="faq__question">
          <div class="faq__container">
            <div class="faq__wrapper">
              <!-- <div class="faq__number">01</div> -->
              <div class="faq__title">Question 1: Lorem ipsum dolor sit amet
              </div>
            </div>
            <div class="faq__icon">
              <img src="../assets/svg/add.svg" alt="expand">
            </div>
          </div>
          <div class="faq__answer">
            <p>Hello world</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>