---
title: Services
classname: services-page
layout: 'mainlayout.njk'
---

<section class="hero-header hero-header--services">
  <div class="hero-header__title-container container inline-padding">
    <h1 class="hero-header__title animatedObj">Services</h1>
  </div>
</section>

<!-- service content -->
<section class="container inline-padding services__types">
  <section class="services__type">
    <img class="services__type-image" src="/assets/jessie_photos/portfolio-img1.webp" alt="<placeholder>">
    <div class="service">
      <hr class="service__line">
      <div class="service__text-section">
        <p class="service__number">01/</p>
        <h2 class="service__name">Wedding Look</h2>
        <p class="service__description">
          With this package we will do a trial make up way in a advance your wedding day. Having a practice run
          will
          ensure you’re happy with the look you are going to have on your wedding day.
        </p>
      </div>
      <div class="service__price-list">
        <div class="service__price-listitem">
          <div class="service__labelname">
            <span class="service__label">makeup</span>
            <span class="service__info text-small">additional info(travel fee)...</span>
          </div>
          <hr class="service__line service__line--2">
          <div class="service__labelname">
            <span class="service__customer">Bride(trial included)</span>
            <span class="service__pricetag">$450</span>
          </div>
          <div class="service__labelname">
            <span class="service__customer">Bride(trial included)</span>
            <span class="service__pricetag">$450</span>
          </div>
          <div class="service__labelname">
            <span class="service__customer">Bride(trial included)</span>
            <span class="service__pricetag">$450</span>
          </div>
        </div>

      </div>
      <div class="service__price-list">
        <div class="service__price-listitem">
          <div class="service__labelname">
            <span class="service__label">makeup</span>
            <span class="service__info text-small">additional info(travel fee)...</span>
          </div>
          <hr class="service__line service__line--2">
          <div class="service__labelname">
            <span class="service__customer">Bride(trial included)</span>
            <span class="service__pricetag">$450</span>
          </div>
          <div class="service__labelname">
            <span class="service__customer">Bride(trial included)</span>
            <span class="service__pricetag">$450</span>
          </div>
          <div class="service__labelname">
            <span class="service__customer">Bride(trial included)</span>
            <span class="service__pricetag">$450</span>
          </div>
        </div>

      </div>
      <button class="btn btn--icon cta">
        <span>Schedule Consultation</span>
        <img src="/assets/svg/arrow.svg" alt="arrow">
      </button>
    </div>
  </section>

  <section class="services__type">
    <img class="services__type-image" src="/assets/jessie_photos/portfolio-img1.webp" alt="<placeholder>">
    <div class="service">
      <hr class="service__line">
      <div class="service__text-section">
        <p class="service__number">01/</p>
        <h2 class="service__name">Wedding Look</h2>
        <p class="service__description">
          With this package we will do a trial make up way in a advance your wedding day. Having a practice run
          will
          ensure you’re happy with the look you are going to have on your wedding day.
        </p>
      </div>
      <div class="service__price-list">
        <div class="service__price-listitem">
          <div class="service__labelname">
            <span class="service__label">makeup</span>
            <span class="service__info text-small">additional info(travel fee)...</span>
          </div>
          <hr class="service__line service__line--2">
          <div class="service__labelname">
            <span class="service__customer">Bride(trial included)</span>
            <span class="service__pricetag">$450</span>
          </div>
          <div class="service__labelname">
            <span class="service__customer">Bride(trial included)</span>
            <span class="service__pricetag">$450</span>
          </div>
          <div class="service__labelname">
            <span class="service__customer">Bride(trial included)</span>
            <span class="service__pricetag">$450</span>
          </div>
        </div>

      </div>

      <button class="btn btn--icon cta">
        <span>Schedule Consultation</span>
        <img src="/assets/svg/arrow.svg" alt="arrow">
      </button>
    </div>
  </section>

</section>

<section class="portfolio--secondary container inline-padding">
  <div class="portfolio__text-container">
    <h2 class="portfolio__title text-center">My clients</h2>
    <button class="btn btn--icon cta portfolio__btn portfolio__btn--desktop">
      <span>See portfolio</span>
      <img src="/assets/svg/arrow.svg" alt="arrow">
    </button>
  </div>
  <div class="portfolio__images">
    <img class="portfolio__image" src="/assets/images/header__img.webp" alt="">
    <img class="portfolio__image" src="/assets/images/header__img.webp" alt="">
    <img class="portfolio__image" src="/assets/images/header__img.webp" alt="">
    <img class="portfolio__image portfolio__image--desktop" src="/assets/images/header__img.webp" alt="">
    <img class="portfolio__image portfolio__image--desktop" src="/assets/images/header__img.webp" alt="">
  </div>
  <button class="btn btn--icon cta portfolio__btn portfolio__btn--mobile">
    <span>See portfolio</span>
    <img src="/assets/svg/arrow.svg" alt="arrow">
  </button>
</section>